.mi-nino-container {
    position: relative;
    width: 100%;
    height: 564px;
    overflow: hidden;
  }
  
  .mi-nino-content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .mi-nino-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* z-index: 1; */
  }

  .iconos-sociales1 {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 40px;
    z-index: 1;
  }
  
  /* ------------------ Responsive ------------------ */
  
  @media (max-width: 1024px) {
    .mi-nino-container {
      height: 400px;
    }
  }
  
  @media (max-width: 768px) {
    .mi-nino-container {
      height: 300px;
    }
  }
  
  @media (max-width: 480px) {
    .mi-nino-container {
      height: 220px;
    }
  }
  